@import "../../../assets/css/common-css.scss" ;


.share-icon {
    @include commonIcon('baseline_share_black_18dp');
}

.cart-icon {
    @include commonImage('add-shoppinig-cart')
    background: url("../../../assets/images/add-shoppinig-cart.png");
}

.img {
    height: 280px;
    width: 210px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: currentcolor;
    border-radius: 10px 10px 0px 0px;
}
.item {
    border-radius: 10px;
    .details {
        padding: 0px 10px;
    }
    position: relative;
}
.item:hover {
    .overlay {
        display: block;
    }
    overflow: hidden;
    animation-name: hovershadow;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

@keyframes hovershadow {
    0% {
        box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1);
    }
    100% {
        box-shadow: 0px -1px 11px 0.5px rgba(0, 0, 0, 0.5);
    }
}
.item-list {
    flex-wrap: wrap;
}

.round-thumbnail {
    border-radius: 50%;
}

.overlay {
    display: none;
    position: absolute;
    height: 280px;
    width: 210px;
    background-color: rgba(255, 255, 255, 0.5);
    animation: enterFromLeft 0.2s linear forwards;
}

@keyframes enterFromLeft {
    0% {
        transform: translate(150%, 0%);
        // width: 0px;
    }
    100% {
        transform: translate(0%, 0%);
        // width: 210px;
    }
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
